@model ProyectoCine.Models.Cines

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cines</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Administrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capcidad_Asientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capcidad_Asientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtrosDetalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtrosDetalles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CinesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
