@model ProyectoCine.Models.DescripcionAsiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DescripcionAsiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado.DestallesAsiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.DestallesAsiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilaAsientos.FilaAsientosID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilaAsientos.FilaAsientosID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservas.ReservasID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservas.ReservasID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DescripcionAsientoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
